@use "../globals/colors.scss";

.footer {
	color: colors.$very-pale-cyan;

	&__graphic {
		vertical-align: middle;
	}

	&__content {
		background: colors.$very-dark-cyan;
	}

	h3 {
		text-transform: uppercase;
	}

	&__logo {
		filter: brightness(0) invert(1);
		width: 20rem;
	}

	&__item {
		display: flex;
		gap: 2rem;
	}

	&__socials {
		display: flex;
		gap: 2rem;
	}
}
